@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Style inspired by retro monochromme and the minecraft unrusted copper bulb block
*/
body, a {background-color: #854723;
    color: #E6AC87;}

.container {
    display: flex;
}
.child {
    width: 33%;
    text-align: center;
}

nav {
    text-align: center;
    font-size: 150%;
}

a:hover {
    color: #FFFFBC;
}

.child:active {
    color: #FFFFBC;
}

::selection {
    background: #E6AC87;
    color: #FFFFBC;
}

.main_title{
    font-size: 150%;
    text-align: center;
    padding:0%;
    border: 0%;
}

.main_title:active {
    color: #FFFFBC;
}
